*  {
    margin:0;
    padding:0;
}

.site-card-wrapper {
  padding: 30px;
  background: #254271;
}

.header-title {
  color: antiquewhite;
  font-size: 40px;
}

.breadcrumb.ant-breadcrumb {
    margin: 16px 0;
    padding: 0 30px;
    text-align: left;
}

.ant-layout {
    text-align: center;
}